{% extends 'base.html' %}
{% block title %}a0385-WEBTEST{% endblock %}
{% load static %}
{% block content %}
<!-- \\ Begin Holder \\ -->
<div class="DesignHolder">
	<!-- \\ Begin Frame \\ -->
	<div class="LayoutFrame">
        {% include 'header.html' %}
        {% include 'home.html' %}
        <div class="bgcolor"></div>
        <!-- \\ Begin Container \\ -->
        <div id="Container">
            {% include 'about.html' %}
            {% include 'services.html' %}
            {% include 'pricing.html' %}
            {% include 'contact.html' %}
        </div>
        <!-- // End Container // -->
	</div>
	<!-- // End Layout Frame // -->
</div>
<!-- // End Design Holder // -->
<div id="loader-wrapper">
<div id="loader"></div>

    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>

</div>
{% endblock %}
