<!-- \\ Begin Header \\ -->
<header>
    <div class="main-site">
        <div class="site-title">
            <h1><a href="#" class="no-line">GE-<span class="span-color1">WEB</span>TEST</a>
            </h1>
            <div class="site-menu">
                <ul type="none">
                    <li>
                        <div class="menu-item">
                            <a href="#home" class="no-line">首頁</a>
                        </div>
                    </li>
                    <li>
                        <div class="menu-item">
                            <a href="#weather" class="no-line">今日天氣</a>
                        </div>
                    </li>
                    <li>
                        <div class="menu-item">
                            <a href="#exchange" class="no-line">最新匯率</a>
                        </div>
                    </li>
                    <li>
                        <div class="menu-item">
                            <a href="#ex_query" class="no-line">歷史匯率查詢</a>
                        </div>
                    </li>
                    <li>
                        <div class="menu-item">
                            <a href="#apyt104" class="no-line">請假單查詢</a>
                        </div>
                    </li>
                    <li>
                        <div class="menu-item">
                            <a href="#stock" class="no-line">股票查詢</a>
                        </div>
                    </li>
                </ul>
		    </div>
		</div>
        <div class="clear"></div>
    </div>
</header>
<!-- // End Header // -->