<!-- \\ Begin Header \\ -->
<header>
    <div class="Center">
        <div class="site-logo">
            <h1><a href="#">LEO-<span>Web</span>test</a></h1>
        </div>
        <div id="mobile_sec">
            <div class="menumobile">
                <!-- \\ Begin Navigation \\ -->
                <nav class="Navigation">
                    <ul>
                        <li class="active">                                
                            <a href="#home">首頁</a>
                            <span class="menu-item-bg"></span>
                        </li>
                        <li>
                            <a href="#health">每日健康聲明</a>
                            <span class="menu-item-bg"></span>
                        </li>
                        <li>
                            <a href="#weather">今日天氣</a>
                            <span class="menu-item-bg"></span>
                        </li>
                        <li>
                            <a href="#exchange">最新匯率</a>
                            <span class="menu-item-bg"></span>
                        </li>
                        <li>
                            <a href="#ex_query">歷史匯率查詢</a>
                            <span class="menu-item-bg"></span>
                        </li>
                        <li>
                            <a href="#apyt104">請假單查詢</a>
                            <span class="menu-item-bg"></span>
                        </li>
                        <!-- <li>
                            <a href="#stock">股票查詢</a>
                            <span class="menu-item-bg"></span>
                        </li> -->
                    </ul>
                </nav>
                <!-- // End Navigation // -->
		    </div>
		</div>
        <div class="clear"></div>
    </div>
</header>
<!-- // End Header // -->